<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'imagens/logo.png')}}" type="image/x-icon">
    <title>Auto Contratação - Créditos Cidade Azul</title>
</head>
<body>
    <img src="{{ url_for('static',filename = 'imagens/logo.png')}}" alt="" class="logo">
    <main class="container">
        <div class="foto">
            <img src="{{ url_for('static',filename = 'imagens/Fundo_barco_editado.jpg')}}" alt="">
            <img src="{{ url_for('static',filename = 'imagens/Fundo_barco_editado_menor.jpg')}}" alt="" class="imagem_barco_menor">
        </div>
        <div class="bloco">
            <img id="sad_face" src="{{ url_for('static',filename = 'imagens/sad-face.png')}}">
            <h1 id="erro_404">Ops, página não encontrada!</h1>
            <p id="voltar" >Voltar para a <a href="/">Página inicial</a></p>
        </div>
    
    
   
</body>
</html>

    


