<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'imagens/logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="dados.css">
    <title>Auto Contratação</title>
</head>
<body>
    <main class="container">
        <div class="barra_superior">
            <img src="../static/Imagens/Logo_azul.jpg" alt="" class="logo">
        </div>
        <div class="barra_lateral">
            <ul>
                <li>
                    <a href="">
                        <img src="../static/Imagens/customer.png" alt="" class="icones">
                        <span>Leads</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/Imagens/contrato.png" alt="" class="icones">
                        <span>Propostas</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/Imagens/adicionar-ficheiro.png" alt="" class="icones">
                        <span>Nova Proposta</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/Imagens/avatar-do-usuario.png" alt="" class="icones">
                        <span>Usuários</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="dados">
            <iframe src="https://trello.com/b/S5pNPz2w.html" frameborder="0" width="1000px" height="500px"></iframe>
        </div>
    </main>
</body>
</html>