<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'imagens/logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css')}}">
    <title>Auto Contratação - Créditos Cidade Azul</title>
</head>
<body>
    <img src="{{ url_for('static',filename = 'imagens/logo.png')}}" alt="" class="logo">
    <main class="container">
        <div class="foto">
            <img src="{{ url_for('static',filename = 'imagens/Fundo_barco_editado.jpg')}}" alt="">
            <img src="{{ url_for('static',filename = 'imagens/Fundo_barco_editado_menor.jpg')}}" alt="" class="imagem_barco_menor">
        </div>
        <div class="bloco">
            <h1 class="title">Não conseguimos prosseguir com o seu contrato!</h1>
            <h2 class="h2"><a class="link" target="_blank" href="https://wa.me/5548996081051">Clique</a> e entre em contato para verificarmos outras opções para você!!</h2>
            <h2 class="h2">Ou se preferir entre em contato pelo telefone: 48 99608-1051</h2>
            <h2 class="h2">Nossa equipe lhe atenderá em até 2 minutos!!</h2>
            <h2 class="h2"><a class="link" href="/">Voltar</a> para a página inicial!!</h2>
        </div>
        <a href="https://wa.me/5548996081051" target="_blank"><img id="logo_whats" src="{{ url_for('static',filename = 'imagens/WhatsApp-Logo.png')}}" alt=""></a>
    
    </main>
</body>
</html>

    


